/*
    This file is part of Extend Panel Menu

    Extend Panel Menu is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Extend Panel Menu is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Extend Panel Menu.  If not, see <http://www.gnu.org/licenses/>.

    Copyright 2017-2018 Julio Galvan
*/

.label-menu {
    margin: 10px;
    padding-left: 20px;
}

.music-box {
    max-width: 400px;
}

.remove-menubutton {
    border-radius: 10px;
    padding: 0px 4px;
}

.remove-menubutton:hover,
.remove-menubutton:focus {
    padding: 1px 5px;
}

.remove-menubutton>StIcon {
    icon-size: 16px;
}